@model IEnumerable<AnnouncementMVC.Models.Entities.Announcement>

@{
    ViewData["Title"] = "View";
}
<h1>Announcement</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<table class="table">
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
               
                <td>
                    @Html.ActionLink("View", "View", "Announcement", new { id = item.Id }, new { @class = "k-button" }) |
                    @Html.ActionLink("Edit", "Edit", "Announcement", new { id = item.Id }, new { @class = "k-button" }) |
                    @Html.ActionLink("Delete", "Delete", "Announcement", new { id = item.Id }, new { @class = "k-button" }) |
                    @Html.ActionLink("ShowSimilar", "ShowSimilar", "Announcement", new { id = item.Id }, new { @class = "k-button" })
                </td>
            </tr>
        }
    </tbody>

</table>
