@model AnnouncementMVC.Models.Entities.Announcement
@{
    ViewData["Title"] = "View";
}

<h1>View</h1>

<div>
    <h4>Announcement</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AnnouncementDetail.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AnnouncementDetail.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AnnouncementDetail.DateAdded)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AnnouncementDetail.DateAdded)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    <a asp-action="Index">Back to List</a>
</div>
